/tempCodeRunnerFile.py
/test.py
shapezio/2020_1.json
shapezio/2020_2.json
shapezio/2020_3.json
shapezio/2020_4.json
shapezio/2020_5.json
shapezio/2020_6.json
shapezio/2020_7.json
cache/1-84a3e469ccaafbdc8dfe704322652d2e-10.pickle.gz
cache/1-17046371ac4d4c0d491d0e4053309ff5-10.pickle.gz
cache/1-c3c954e902635115b4d2e379736737d6-100.pickle.gz
高三資專手札.gdoc
RC_2021-01.zst
RS_2021-01.zst
ptt/
ptt-spider-master/ptt-spider-master/politics.json
ptt-spider-master/ptt-spider-master/politics2.json
tempCodeRunnerFile.python
test.ipynb
debug.log
*.json
lda_model.pickle
lda_model20.pickle
海報/I4-32720-黃思維-PTT留言分析與統整-海報.pdf
海報/上海報.pdf
海報/上海報.pptx
海報/中海報.pdf
海報/中海報.pptx
海報/右海報.pdf
海報/右海報.pptx
海報/左海報.pdf
海報/左海報.pptx
I4-32720-黃思維-PTT留言分析與統整-作品說明書.pdf
I4-32720-黃思維-PTT留言分析與統整-作品說明書.docx
32720黃思維-校內科展報告書.gdoc
校內科展/
